
<h2>Logga In</h2>


<input id="Text1" type="text" value="Användarnamn" />
<input id="Password1" type="password" value="Lösenord"/>
<input id="Button1" type="button" value="Logga In" />

<p>Ännu inte medlem? <a href="Registrera"> Klicka Här för att registrera dig </a> </p>