
<h2>Registrering</h2>

<form>
    <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Email" name="email" required>

        <label><b>Lösenord</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label><b>Upprepa Lösenord</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
         
            
            <button type="submit" class="signupbtn">Sign Up</button>
        
    </div>
</form>